<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
</head>
<body>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">UPLOAD</button>
    </form>
    {% if saved_object %}
    <h2>UPLOAD SUCCESSFULL : {{saved_object.file.url}} </h2>
    <h2>FILE DESCRIPTION : {{saved_object.description}} </h2>
    {% endif %}
</body>
</html>