h1 {
    color:rgb(155, 8, 160);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    font-size: 2.3rem;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
  }

img{
 width: 2rem;
 height: 2rem;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}